body{
  background-color: #9ea2af;
  margin: 0;
}
body, button{
  font-family: Comfortaa, Arial;
  
}
button{
  background-color: #f0f0f0;
}
button:hover{
  cursor: pointer;
}
input:focus{
  outline: none;
  background-color: rgb(240, 240, 255);
}
