.header{
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background-color: #545454;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-add-button{
  width: 150px;
  height: 40px;
}
.category-add-button{
  border-style: none;
  border-radius: 15px;
  background-color: #d9d9d9;
  transition-property: background-color color;
  transition-duration: 0.15s;
}
.category-add-button:hover{
  background-color: #b4dcdc;
}
.category-add-button:active{
  background-color: #82aaaa;
}